<div class="container">
<%= form_for([@todo_list,@todo_list.todo_items.build]) do |f| %>
<% if @todo_item.errors.any? %>
<div id="container">
  <div id="error_explanation">
    <ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% @todo_item.errors.full_messages.each do |message| %>
      <li class="alert-error"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content%><br>
    <div class="control-group">

      <%= f.text_field :content , class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
</div>
<% end %>