<title>To-Do Application</title>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand"><i class="ion-ios-book-outline"></i> TODO APPLICATION <i class="ion-ios-book-outline"></i>
</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li><%= link_to "Your Todo List", root_path %></li>
      <li><%= link_to "Edit Account", edit_user_registration_path %></li>

      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 

      </li>



      <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>  

      </li>
      <li>
        <%= link_to('Register', new_user_registration_path)  %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

